<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037077181227-qiok9n1kgbnotit2i76uakjp5f2tpuk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037077181227-qiok9n1kgbnotit2i76uakjp5f2tpuk6</string>
	<key>API_KEY</key>
	<string>AIzaSyCtOJ83sb1HgVsah9Muf4bJm3QIUThajtI</string>
	<key>GCM_SENDER_ID</key>
	<string>1037077181227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.initalApp</string>
	<key>PROJECT_ID</key>
	<string>testapp-6a7bd</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-6a7bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037077181227:ios:56b815f251aac6f7e10b6e</string>
</dict>
</plist>